@model UserDto

<div class="row">    
    <div class="col-12">
        <div class="card">
            <div class="px-4 py-3 border-bottom">
                <h5 class="card-title fw-semibold mb-0">Form Separator</h5>
            </div>
            <form action="/Employee/EmployeeAdd" method="post">
                <div class="card-body p-4 border-bottom">
                    <h5 class="fs-4 fw-semibold mb-4">Account Details</h5>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="UserName">
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <div class="input-group border rounded-1">
                                <input type="text" class="form-control border-0" asp-for="Email">
                                <span class="input-group-text bg-transparent px-6 border-0" id="basic-addon1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <div class="input-group border rounded-1">
                                <input type="password" asp-for="NewPassword" class="form-control border-0"  >
                                <span class="input-group-text bg-transparent px-6 border-0" id="basic-addon1">
                                    <i class="ti ti-eye fs-6"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Parola Tekrar</label>
                        <div class="col-sm-9">
                            <div class="input-group border rounded-1">
                                <input type="password" asp-for="NewPasswordAgin" class="form-control border-0">
                                <span class="input-group-text bg-transparent px-6 border-0" id="basic-addon1">
                                    <i class="ti ti-eye fs-6"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4">
                    <h5 class="fs-4 fw-semibold mb-4">Personal Info</h5>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Adı</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="Name" placeholder="John Deo">
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Surname</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="Surname" placeholder="John Deo">
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Kimlik Numarası</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" asp-for="IdentityNumber" placeholder="John Deo">
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Role Seçimi</label>
                        <div class="col-sm-9">
                            <select class="form-select" asp-items="(SelectList)ViewBag.Employee" asp-for="RoleId" aria-label="Default select example">
                                <option>.:: Lütfen Seçiniz ::.</option>
                               
                            </select>
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Bölüm Seçimi</label>
                        <div class="col-sm-9">
                            <select class="form-select" asp-items="(SelectList)ViewBag.Bolum" asp-for="BolumId" aria-label="Default select example">
                                <option>.:: Lütfen Seçiniz ::.</option>

                            </select>
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Role Seçimi</label>
                        <div class="col-sm-9">
                            <select class="form-select" asp-items="Model.GendersList" asp-for="GenderId" aria-label="Default select example">
                                <option>.:: Lütfen Seçiniz ::.</option>

                            </select>
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Birth Date</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input id="startDate" class="form-control" type="datetime-local" asp-for="BirthDate">
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 row align-items-center">
                        <label for="exampleInputPassword1" class="form-label fw-semibold col-sm-3 col-form-label">Phone no</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="Phone" placeholder="123 4567 201">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="d-flex align-items-center gap-3">
                                <button type="submit" class="btn btn-primary">Kaydet</button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>          
        </div>
    </div>   
</div>
   