@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}
@model UserDto

<div class="page-ttl">
    <div class="layer-stretch">
        <div class="page-ttl-container">
            <h1>Register</h1>
            <p><a href="#">Home</a> &#8594; <span>Register</span></p>
        </div>
    </div>
</div>
<div class="layer-stretch">
    <div class="layer-wrapper">
        <form action="/Home/HastaPasswordChange" method="post">
            <div class="form-container">
               
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    <input class="mdl-textfield__input" type="text" asp-for="UserName">
                    <label class="mdl-textfield__label" for="register-email">Kullanici Adi <em> *</em></label>
                    <span class="mdl-textfield__error">Email Adresiniz!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    <input class="mdl-textfield__input" type="password" id="register-password" asp-for="OldPassword">
                    <label class="mdl-textfield__label" for="register-password">Eski Şifre Giriniz <em> *</em></label>
                    <span class="mdl-textfield__error">Şifreyi Tekrar Giriniz(Min 6 Character)!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    <input class="mdl-textfield__input" type="password" id="register-password" asp-for="NewPassword">
                    <label class="mdl-textfield__label" for="register-password">Yeni Şifrenizi Giriniz <em> *</em></label>
                    <span class="mdl-textfield__error">Şifreyi Tekrar Giriniz(Min 6 Character)!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    <input class="mdl-textfield__input" type="password" id="register-password" asp-for="NewPasswordAgin">
                    <label class="mdl-textfield__label" for="register-password">Tekrar Yeni Şifre Giriniz <em> *</em></label>
                    <span class="mdl-textfield__error">Şifreyi Tekrar Giriniz(Min 6 Character)!</span>
                </div>
                <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary" type="submit">Create Account</button>
                </div>
                <div class="login-link">
                    <span class="paragraph-small">Hesabınız Varmı</span>
                    <a href="/Home/HastaLogin" class="">Giriş Yapın</a>
                </div>
            </div>
        </form>
    </div>
</div>