@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
} 
 

<div id="slider" class="slider-height">
    <div class="flexslider slider-wrapper">
        <ul class="slides">
            <li>
                <div class="slider-info">
                    <h1 class="animated fadeInDown">Diş Anlamında Bizi Tercih Etmelisiniz!!</h1>
                    <p class="animated fadeInDown">Deneyimle Ve Bilgili Doktorlarımız Sayesinde Dişçi Korkularına Son </p>
                </div>
                <img src="/Web/uploads/slider-1.jpg" alt="">
            </li>
            <li>
                <div class="slider-info">
                    <h2>Gülüşleriniz Bembeyaz Olmasını İstermisiniz</h2>
                    <p>Yüzünüzdeki Gülücüklerinizdeki En Güzel İmzamız Olmasını Talep Ederiz</p>
                </div>
                <img src="/Web/uploads/slider-2.jpg" alt="">
            </li>
            <li>
                <div class="slider-info">
                    <h2>7/24 Diş Sağlığı Hizmeti</h2>
                    <p>Bize Ne Zaman İsterseniz Ulaşabileceğinizi Sakın Unutmayın...</p>
                </div>
                <img src="/Web/uploads/slider-3.jpg" alt="">
            </li>
        </ul>

    </div>
</div>>
<div id="hm-service" class="layer-stretch">
    <div class="layer-wrapper">
        <div class="layer-ttl">
            <h3>Biz Kimiz....</h3>
        </div>
        <div class="layer-container row">
            <div class="hm-service-left col-md-5">
                <img src="/Web/uploads/hm-service.jpg" alt="Klinical Health care">
            </div>
            <div class="hm-service-right col-md-7">
                <p class="paragraph-medium paragraph-black">
                   Mutlu Yüz Kliğinimiz, Deneyimli doktorlarımızın koordinasyonunda hasta odaklı dijital diş hekimliği vizyonuyla kuruldu. Sağlıklı kalmayı ve koruyucu diş hekimliği uygulamalarını öncelikli hale getiren kliniğimiz bunun yanında global arenada gelişen tüm yenilikleri de bünyesinde barındırmaktadır. Kliniğimizde tüm tedavi planlamaları ve takipleri, konusunda uzman ve yetkin doktorlarımız tarafından organize edilmektedir.
                </p>
                <div class="hm-service">
                    <div class="hm-service-block">
                        <i class="fa fa-stethoscope"></i>
                        <span>Bilgili</span>
                    </div>
                    <div class="hm-service-block">
                        <i class="fa fa-child"></i>
                        <span>Çocuk Tedavileri</span>
                    </div>
                    <div class="hm-service-block">
                        <i class="fa fa-certificate"></i>
                        <span>Hijyenik</span>
                    </div>
                    <div class="hm-service-block">
                        <i class="fa fa-h-square"></i>
                        <span>Hastane Statüsünde</span>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div><
<div id="hm-about" class="colored-background">
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="layer-ttl layer-ttl-white">
                <h3>Biz Ne Yapıyoruz</h3>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-user-md"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">10</span>
                            <p>Doktor</p>
                        </div>
                    </div>
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-ambulance"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">5</span>
                            <p>Oda</p>
                        </div>
                    </div>
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-calendar"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">6</span>
                            <p>Yıllık Tecrübe</p>
                        </div>
                    </div>
                    <div class="hm-about-block">
                        <div class="tbl-cell hm-about-icon"><i class="fa fa-clock-o"></i></div>
                        <div class="tbl-cell hm-about-number">
                            <span class="counter">168</span>
                            <p>Haftalık Çalışma Saati</p>
                        </div>
                    </div>
                    <div class="hm-about-paragraph">
                        <p class="paragraph-medium paragraph-white">
                            <span class="theme-dropcap color-white"></span>Mutlu Yüz olarak siz değerli hastalarımızın güvenini kazanmak, kaygılarınızı ortadan kaldırmak, sorunlarınıza en hızlı, kalıcı ve ekonomik çözümleri sunmaya çalıyoruz.
                            Tedavi teknolojilerindeki gelişmeleri sürekli takip ederek en çağdaş malzemeler, en yeni cihazlar ile konforunuzu arttırmaya özen gösteriyoruz.
                            En doğru tedavi yöntemini şeffaf şekilde uygularken sizi her konuda bilgilendiriyoruz.
                            Güvenilir olmak, işini layıkıyla yapan olarak anılmak için çabalıyoruz.
                            Ne olursa olsun hizmet kalitesini düşürmeden her bir hastamızı kendi yakınımız gibi görüyoruz.
                            Sağlığınıza kavuşmanızın ne kadar önemli olduğunu biliyor ve bu sorumluluğun farkında olarak hareket ediyoruz.
                            Kuruluş amacımıza uygun olarak bugün ve her zaman muayenelerimiz ve değerlendirmelerimizden tüm hastalarımız ücretsiz olarak faydalanmaktadır.
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-thumbnail" src="/Web/uploads/hm-about.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
