<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Mutlu Yüz Diş Klinik</title>
    <meta name="Description" content="Klinik is a HTML5 & CSS3 responsive template">  
    <link rel="icon" type="image/x-icon" href="/Web/images/favicon.png">   
    <link rel="stylesheet" href="/Web/font-awesome/css/font-awesome.min.css">   
    <link rel="stylesheet" type="text/css" href="/Web/Cs/css-1?family=Montserrat:400,500"> 
    <link rel="stylesheet" href="/Web/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Web/css/material.min.css">
    <link rel="stylesheet" href="/Web/css/mdl-selectfield.min.css">   
    <link rel="stylesheet" href="/Web/css/owl.carousel.min.css">   
    <link rel="stylesheet" href="/Web/css/animate.min.css">    
    <link rel="stylesheet" href="/Web/css/magnific-popup.css">   
    <link rel="stylesheet" href="/Web/css/flexslider.css"> 
    <link rel="stylesheet" href="/Web/css/style.css">
</head>
<body>
    <header id="header-3" class="">
        <div class="layer-stretch hdr-center">
            <div class="row align-items-center">
                <div class="col-2">
                    <div class="hdr-center-logo">
                        <a href="index.html" class="d-inline-block"><img src="/Web/images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-10">
                    <div class="hdr-center-submenu row pull-right">
                        <div class="col-md-auto mr-3 d-none d-sm-none d-md-none d-lg-block d-xl-block">
                            <div class="tbl-cell">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="tbl-cell text-left p-0">
                                <p class="font-12 m-0 text-muted">Mail Adresimiz</p>
                                <p class="font-14 m-0">mutluyuz@disklnik.com</p>
                            </div>
                        </div>
                        <div class="col-md-auto d-none d-sm-none d-md-block d-lg-block d-xl-block">
                            <div class="tbl-cell">
                                <i class="fa fa-mobile font-28"></i>
                            </div>
                            <div class="tbl-cell text-left p-0">
                                <p class="font-12 m-0 text-muted">Telefon Numaramız</p>
                                <p class="font-14 m-0">0(542)584 12 36</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hdr-center-menu">
            <div class="hdr layer-stretch">
                <div class="row align-items-center justify-content-end">               
                    <ul class="col menu text-left">                       
                        <li>
                            <a id="menu-home" href="/Home/Index" class="mdl-button mdl-js-button mdl-js-ripple-effect">Anasayfa </a>                           
                        </li>
                        <li class="menu-megamenu-li">
                            <a id="menu-pages" href="/Home/Doktorlar" class="mdl-button mdl-js-button mdl-js-ripple-effect">Doktorlarımız </a>
                        </li>       
                         <li class="menu-megamenu-li">
                            <a id="menu-doctor" class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/Home/HastaLogin">Giriş <i class="fa fa-sign-in font-14"></i> </a>
                        </li>
                        <li class="menu-megamenu-li">
                            <a id="menu-doctor" class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/Home/HastaRegister">Kayıt Ol<i class="fa fa-user-plus font-14"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
   @RenderBody()
    <div id="emergency">
        <div class="layer-stretch">
            <div class="layer-wrapper">
                <div class="layer-ttl">
                    <h3>Acil Durumda</h3>
                </div>
                <div class="layer-container">
                    <div class="paragraph-medium paragraph-black">
                       Bizi Tercih Ettiğinizde Anladığınız Tek Sey Dişçi Korkusu Aslında Koca Bir Önemsiz Konuymuş
                    </div>
                    <div class="emergency-number">Ara : 0(542)584 12 36</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Web/js/jquery-2.1.4.min.js"></script>    
    <script src="/Web/js/popper.min.js"></script>   
    <script src="/Web/js/bootstrap.min.js"></script>
    <script src="/Web/js/material.min.js"></script> 
    <script src="/Web/js/mdl-selectfield.min.js"></script>  
    <script src="/Web/js/jquery.flexslider.min.js"></script>   
    <script src="/Web/js/owl.carousel.min.js"></script>   
    <script src="/Web/js/jquery-scrolltofixed.min.js"></script>   
    <script src="/Web/js/jquery.magnific-popup.min.js"></script>    
    <script src="/Web/js/jquery.waypoints.min.js"></script>    
    <script src="/Web/js/jquery.counterup.js"></script>   
    <script src="j/Web/s/smoothscroll.min.js"></script>    
    <script src="/Web/js/custom.js"></script>
</body>
</html>