@model PanelUserInfoViewModel


<div class="user-panel">
    <div class="image pull-left">
        <img src="@Model.ProfileImage" class="img-circle" alt="User Image">
    </div>
    <div class="info">
        <h4>@Model.FullName</h4>
        <p>@Model.Role</p>
    </div>
</div>